# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Envs
.env
.env.*
.venv
venv/
ENV/
env/

# Git
.git
.gitignore

# IDE / OS
.vscode
.idea
*.swp
.DS_Store

# Docker
docker-compose.yml
compose.yaml
docker-compose*.yml
*.log

# Node / frontend junk if any lives here
node_modules
dist
build


tar
.tar
*.tar 